.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.child-item .anticon-delete {
  display: flex;
  padding-top: 1em;
  /* justify-content: flex-end; */
  padding-bottom: 10px;
  float: right;
}