.form-container {
  text-align: center;
  height: 100vh;
  background: url('/assets/sky.png'), url('/assets/bg-login.png'), url('/assets/teal.png');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 44.75% 59%, 65% 90%, left center;
  display: flex;
  align-items: center;
  // background-size: auto;
}

.form-signin {
  width: 100%;
  max-width: 475px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 1em !important;
  h3 {
    text-align: left;
    font-family: Poppins-SemiBold;
    margin-bottom: 1em;
  }
  h4 {
    margin-bottom: 30px;
  }

  .ant-form {
    &-item {
      text-align: left;
      margin-bottom: .5rem;
      box-sizing: border-box;
      &-control {
        input {
          height: auto;
          padding: 10px;
          font-size: 16px;
        }
      }
      &-label {
        margin-bottom: 0;
        line-height: unset;
      }
    }
  }

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    
    &:focus {
      z-index: 2;
    }
  }
  
  input {
    &[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    &[type="password"] {
      // margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.child-item {
  .ant-form {
    &-item {
      margin-bottom: 0;
      &-label {
        line-height: normal !important;
        label {
          margin-bottom: 0;
          margin-top: 1em;
        }
      }
    }
  }
  .anticon {
    &-delete {
      display: flex;
      padding-top: 1em;
      justify-content: flex-end;
      &:hover {
        color: $blue;
      }
    }
  }
}
.error-details {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .form-container {
    background-color: $bg-blue;
    background-image: unset;
  }
}