<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="/favicon.png" sizes="16x16"/>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  </head>
  <body>
    <section id="mount"></section>

    <% for (var js in htmlWebpackPlugin.files.js) {
      %><script type="text/javascript" src="/<%= htmlWebpackPlugin.files.js[js] %>"></script><%
    } %>
  </body>
</html>
